<launch>
  <!-- Launch file for velodyne16 VLP-16 LiDAR -->

    <arg name="rviz" default="true" />

    <rosparam command="load" file="$(find fast_lio)/config/velodyne.yaml" />

    <param name="feature_extract_enable" type="bool" value="0"/>
    <param name="point_filter_num" type="int" value="4"/>
    <param name="max_iteration" type="int" value="3" />
    <param name="filter_size_surf" type="double" value="0.5" />
    <param name="filter_size_map" type="double" value="0.5" />
    <param name="cube_side_length" type="double" value="1000" />
    <param name="runtime_pos_log_enable" type="bool" value="0" />
    <node pkg="fast_lio" type="fastlio_mapping" name="laserMapping_uav1" output="screen"> 
	<remap from="/imu/data" to="/uav1/mavros/imu/data"/>
	<remap from="/velodyne_points" to="/uav1/prometheus/sensors/3Dlidar_scan"/>
	<remap from="Odometry" to="/uav1/fast_lio_Odometry"/>
    </node>
    <node pkg="fast_lio" type="fastlio_mapping" name="laserMapping_uav2" output="screen"> 
	<remap from="/imu/data" to="/uav2/mavros/imu/data"/>
	<remap from="/velodyne_points" to="/uav2/prometheus/sensors/3Dlidar_scan"/>
	<remap from="Odometry" to="/uav2/fast_lio_Odometry"/>
    </node>
    <node pkg="fast_lio" type="fastlio_mapping" name="laserMapping_uav3" output="screen"> 
	<remap from="/imu/data" to="/uav3/mavros/imu/data"/>
	<remap from="/velodyne_points" to="/uav3/prometheus/sensors/3Dlidar_scan"/>
	<remap from="Odometry" to="/uav3/fast_lio_Odometry"/>
    </node>
    
    <!--group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find fast_lio)/rviz_cfg/loam_livox.rviz" />
    </group-->

</launch>
